@model IEnumerable<estacionamento.Models.SaidaVeiculoEstacionado>

@{
    ViewData["Title"] = "Index";
}

<h1>Estacionamento</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Marcar Endrada</a>

</p>
<div class="row">
    <div class="col-md-4">
        <form asp-controller="VeiculoEstacionadoes" asp-action="Index">
            <div class="form-group">

                <label class="control-label">Busca Por Placa</label>
                <input type="text" name="SearchString" class="form-control" />
                <input type="submit" value="Buscar" class="btn btn-info" />
            </div>
        </form>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Placa
            </th>
            <th>
                Horário Entrada
            </th>
            <th>
                Horário Saída
            </th>
            <th>
                Duração
            </th>
            <th>
                Hora(s) Cobrada(s)
            </th>
            <th>
                Valor Por Hora
            </th>
            <th>
                Total a Pagar
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PlacaVeiculo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HoraEntrada)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HoraSaida)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Duracao.Hours):@Html.DisplayFor(modelItem => item.Duracao.Minutes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HorasCobradas)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValorHora)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValorTotal)
                </td>
                <td>
                </td>
                <td>
                    <a class="btn btn-outline-dark" asp-action="Edit" asp-route-id="@item.TicketId">Saída</a>                   

                </td>

            </tr>
        }



    </tbody>
</table>
